.root {
    display: flex;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

.furnitureVolume {
    background-color: #dedede;
    padding: 2.5% 3%;
    border-radius: 4%;
    height: fit-content;
    width: fit-content;
    margin-left: 2%;
}
