@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.root {
  font-size: 1em;
}

.appTitle {
  margin: 2% 0 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
}